
.container {
    background-color: white;
    padding-bottom: 75px;
}

.row-one {
    padding-top: 100px;
    padding-bottom: 30px;
}

.work-button {
    height: 350px;
    width: 350px;
    color: white;
}

button:hover {
    letter-spacing: 2px;
}

#stem {
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    box-shadow: 5px 10px #a1c4fd;
    
}

#factual {
    background: linear-gradient(to right, #93a5cf, #c2e9fb);
    box-shadow: 5px 10px #93a5cf;
}

#uliza {
    background: linear-gradient(to right, #c3cfe2, #f5f7fa);
    box-shadow: 5px 10px #c3cfe2;
}