
.welcome-container {
    flex-wrap: wrap;
    padding-right: 135px;
    padding-left: 135px; /* adjust container padding L/R to determine when the cursor stops moving */
    padding-top: 300px; 
    padding-bottom: 1000px;
    /*background-image: url("background-img.jpg"); */
  }

  .home-page-button {
    color: black;
  }

  