@import '~antd/dist/antd.css';

.App {
  text-align: center;
  /* scroll-behavior: smooth; */
}

button { 
  text-shadow: 1px 1px 9px #00000000;
  font-size: 30px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

button:hover {
  letter-spacing: 2px;
}

.xtra-padding {
  padding-bottom: 100px;
}

.xtra-padding-sm {
  padding-bottom: 50px;
}

hr {
  border: 0;
  height: 1px;
  background: white;
}

.typewriter {
  color: black;
  font-size: 24pt;
  line-height: 36pt;
  font-weight: 100;
  overflow: hidden;
  border-right: .10em solid black; /* Typwriter cursor */
  white-space: nowrap; /* Keeps  content on a single line */
  margin: 0 auto; /* Gives scrolling effect as the typing happens */
  letter-spacing: .10em;
  animation: 
    typing 3.5s steps(20, end), /* adjust step # to determine when cursor stops blinking ??? */
    blink-caret .75s step-end infinite; 
}

/* Typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  10% { border-color: black }
} 


/* nav, scroll-container {
  display: block;
  margin: 0 auto;
  text-align: center;
} */

scroll-container {
  display: block;
  /* width: 350px;
  height: 200px; */
  overflow-y: scroll;
  scroll-behavior: smooth;
}
scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* font-size: 5em; */
}